:root {

    --pColor : #525f7f;
    --green-color: #3ecf8e;
    --darkGreen-color: #35be81;
    --purple-text: #6F7AE6;
    --green-text:#24b47e;
    --blue-text: #3297d3;

    --dark-bg: #383B3F;
    --slider-bgColor: #9E877A;
    --white: white;
    --light-color: #DDDDDD;
    --light-color2: #A7A7A7 ;
    --title-color: #4B4949;
    --content-color: #716868 ;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Cambay', sans-serif;
    line-height: 26px;
}

/* Default Styling */
h1, h2 {
    
}

p{
    color: var(--pColor);
    font-size: 1.2rem;
    font-weight: 100;
}
button.blue-btn {
    color: #fff;
    background: var(--green-color);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    letter-spacing: .025em;
    border: 0px !important;
    outline: none;
    transition: all ease-in-out 200ms;
}
button.blue-btn:hover {
    outline: none;
    background-color: var(--darkGreen-color);
}
.purple-btn {
    background: var(--purple-text) !important;
}
.purple-btn:hover{
    opacity: .8 !important;
}
.text-bold{
    font-weight: bold;
}
/* Modal Window */
.modal-content .modal-body .custom-form{
    height: 3rem;
    border-radius: 0;
}
.modal-content .modal-body .blue-btn4:hover{
    color: #4B4949 !important;
    border: 2px solid #4B4949 !important;
}

.purple-text {
    color: var(--purple-text) !important;
}
.blue-text {
    color: var(--blue-text) !important;
}
.green-text {
    color: var(--green-text) !important;
}
/* Navigation Styling */
.navbar.main-navbar .navbar-brand{
    color: var(--white);
    font-weight: bold;
}
/* Main Slider */
header{
    width: 100%;
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-slider .container .main-slider-title {
    margin-top: 2rem;
}
.main-slider .container {
    padding-bottom: 9rem;
    color: var(--white);
}
.main-slider .container .video {
    margin-left: 1.5rem;
}
/* Sections Styling */

/* Section1 */
.section1 .image-placeholder{
    width: 85%;
}
.section1 .image-placeholder img{
}
.section1 h3{
    color: var(--green-text);
}
.section1 p{
    color: var(--pColor);
    border-bottom: 2px solid rgb(241,247,251)
}
.section1 button.blue-btn {
    color: var(--purple-text);
    font-size: 1.2rem;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}
.section1 button.blue-btn:hover {
    color: var(--pColor);
}
/* Section2 */
.section2 {
    padding-top: 20rem !important;
    width: 100%;
    background: url("./assets/grayBg.png");
    background-size: cover;
}
.section2 h3{
    color: var(--green-text);
}
.section2 p{
    color: var(--pColor);
}

/* Section3  & Section6*/
.section3 , 
.section6{
    /* background-color: var(--green-color); */
}
.section3 h3, 
.section6 h3{
    color: var(--green-text);
}
.section3 .custom-form, 
.section6 .custom-form{
    height: 3rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    /* background-color: #D7D7D7; */
}
.section3 .form-row>.col, .form-row>[class*=col-],
 .section6 .form-row>.col, .form-row>[class*=col-],
 .modal-content .modal-body form .form-row>.col, .form-row>[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}
.section3 .custom-btn,
.section6 .custom-btn,
.modal-content .modal-body .custom-btn{
    height: 3rem;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

/* section4 */
.section4 {
    background-color: #F4F4F4;
}
.section4 h3{
}

.section4 p{
    color: var(--pColor);
}
.section4 .col-md-6 .card, .section4 .col-md-6 .card:hover, .section4 .col-md-6 .card:active{
    border: 0;
    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
        box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    transition: all ease-in-out 300ms;
    }

.section4 .col-md-6 .card:hover {
    color: #32325d!important;
    transform: translateY(-5px);
}


/* section5 */
.section5, .main-footer{
    background-color:rgb(234, 235, 245);
    color: var(--purple-text);
}
.section5 h3{
    font-weight: bold;
}


/* Section7 */
.section7 p{
    font-weight: bold;
}
.section7 .customerLink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    /* color: var(--purple-text);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); */
    /* background-color: var(--purple-text); */
    transition: all ease-in-out 200ms;
}
.section7 .customerLink:hover {
    background-color: var(--purple-text);
    color: var(--white);
    box-shadow: 0 4px 9px rgba(50,50,93,.11), 0 1px 9px rgba(0,0,0,.08);

}
.section7 a .customerLink, .section7 a:hover, .section7 a:active {
    /* color: var(--white); */
    text-decoration: none;
}
/* footer styling */
.main-footer p {
    color: var(--purple-text);
}
/* Preloader */
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(23, 22, 22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
  }
  .preloader.loaded{
    opacity: 0;
    pointer-events: none;
  }
  /* Scroll to top button */
  #toTopButton {
    display: inline-block;
    background-color: var(--purple-text);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #toTopButton::after {
    content: "^";
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    line-height: 70px;
    color: #fff;
  }
  #toTopButton:hover {
    cursor: pointer;
    background-color: var(--green-text);
  }
  #toTopButton:active {
    background-color: #383B3F;
  }
  #toTopButton.show {
    opacity: 1;
    visibility: visible;
  } 

  .hidden{
      visibility: hidden;
  }
  .success{
      visibility: visible;
      color: green;
  }
  .fail {
    visibility: visible;
      color: red;
  }
 /* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    /* Section1 */
    .main-slider .container .main-slider-title {
        margin-top: 0rem !important;
    }
    .section1 .image-placeholder{
        width: 100%;
    }
    .section2 {
        padding-top: 0rem !important;
    }
    .main-slider .container {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .main-slider .container .video {
        margin-left: 0rem !important;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .main-slider .container .main-slider-title {
        margin-top: 0rem !important;
    }
    .section2 {
        padding-top: 5rem !important;
        height: 300%;
        background: url("./assets/grayBg.png") no-repeat;
        background-size: cover !important;
        background-clip:padding-box !important;
        background-size: 50%;
    }
    .main-slider .container .video {
        margin-left: 0rem !important;
    }
    .main-slider .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .main-slider .container .video {
        margin-left: 1rem;
    }
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}